# MIMIC-III — NUNCA subir a GitHub (obligación legal del DUA)
data/raw/*
data/interim/*
data/processed/*

# Mantener la estructura de carpetas vacías
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Entorno Python
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Credenciales
*.env
secrets.py
token.txt

# Documentación y bibliografía (PDFs, binarios)
Documentacion/
EstadoDelArte/
Redaccion/

